.portfolio-image{
	height: 250px;
}

.logo-image{
	margin-top:-20px;
}

.logo-big{
	width: 500px;
}

.publicacao-image{
  height: 250px;
}

.cliente-image{
  height: 100px;
}

.projeto-image{
  height: 250px;
}

.portfolio-image{
	height: 250px;
}

#fh5co-blog-section{
  padding: 7em 0;
}

@media screen and (max-width: 768px) {
	#fh5co-blog-section{
    	padding: 4em 0;
  	}
}

.fh5co-blog {
  margin-bottom: 60px;
}

.fh5co-blog a img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .fh5co-blog {
    width: 100%;
  }
}

.fh5co-blog .blog-text {
  margin-bottom: 30px;
  position: relative;
  background: #fff;
  width: 90%;
  padding: 30px;
  float: right;
  margin-top: -5em;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  -webkit-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
}

.fh5co-blog .blog-text span {
  display: inline-block;
  margin-bottom: 20px;
}

.fh5co-blog .blog-text span.posted_by {
  font-style: italic;
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
}

.fh5co-blog .blog-text span.comment {
  float: right;
}

.fh5co-blog .blog-text span.comment a {
  color: rgba(0, 0, 0, 0.3);
}

.fh5co-blog .blog-text span.comment a i {
  color: #ff5722;
  padding-left: 7px;
}

.fh5co-blog .blog-text h3 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.5;
}

.fh5co-blog .blog-text h3 a {
  color: rgba(0, 0, 0, 0.6);
}