{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>I3L - CONTATO</title>
        <!--[if gte mso 9]>
        <style type="text/css">
        .body {background: #234865 url('images/body-bg.jpg');}	     
        .case {background: none;}
        </style>
        <![endif]-->
    </head>
    <body class="body" style="margin: 0; padding: 0; background-color: #234865; background-image: url(../../../static/email/img/body-bg.jpg); background-repeat: repeat;" marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">
        <!--100% body table-->
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="case" bgcolor="#234865" style="background-color: #234865; background-image: url(../../../static/email/img/body-bg.jpg); background-repeat: repeat;">
                    <!--[if gte mso 9]>
        <td style="background: none;">
        <![endif]-->
                    <!--header text-->
                    <table style="background-image: url(../../../static/email/img/header-lines.jpg); background-position: bottom; background-repeat: repeat-x;" bgcolor="#1d3952" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <table id="top" width="578" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td valign="top" align="center" height="60">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td height="10"></td>
                                                </tr>
                                            </table>
                                            <p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #4484b5; margin: 0; padding: 0;">
                                                Este é um email automático do website www.aquariomaniacos.com.br.
                                            </p>
                                            <p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #4484b5; margin: 0; padding: 0;">
                                                Caso não tenha uma conta cadastrada em nosso website favor desconsiderar este email.
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!--/header text-->
                    <!--intro-->
                    <table width="578" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td valign="top" height="20"></td>
                        </tr>
                        <tr>
                            <td bgcolor="#c6d2db" valign="top" height="79">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td height="22" width="68%"></td>
                                        <td height="20" width="32%"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <table width="82%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td align="center" valign="bottom" width="7%">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td width="15"></td>
                                                                <td width="10"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td valign="middle" width="93%">
                                                        <img src="../../../static/website/img/logo-aquariomaniacos.png" style="width:200px;height:130px;margin-left: 50%;" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" height="20"></td>
                        </tr>
                    </table>
                    <!--/intro-->
                    <!--content section-->
                    <table width="576" border="0" align="center" cellpadding="20" cellspacing="0">
                        <tr>
                            <td valign="top" bgcolor="#1c3851" background="../../../static/email/img/content-bg.jpg" style="border: solid 1px #193044; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px;">
                                <h2 style="font-family: Helvetica, Arial, sans-serif; font-size: 18px; margin: 0px; padding: 0px; text-shadow: 1px 1px 1px #333333; color: #62b6ee">
                                    Você recebeu um email de contato de aquariomaniacos.com.br.
                                </h2>
                                <!--break-->
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td height="10"></td>
                                    </tr>
                                </table>
                                <!--/break-->
                                <p style="font-family: Helvetica, Arial, sans-serif; font-size: 13px; margin-top: 0px; margin-bottom: 0px; padding: 0px; color: #e7eff6">
                                    Este é um email automático gerado pelo sistema, caso não tenha uma conta cadastrada em nosso website favor desconsiderar este email.
                                </p>
                                <!--line-->
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td valign="middle" height="40"><hr/></td>
                                    </tr>
                                </table>
                                <!--/line-->
                                <h2 style="font-family: Helvetica, Arial, sans-serif; font-size: 18px; margin: 0px; padding: 0px; text-shadow: 1px 1px 1px #333333; color: #62b6ee">Informações de contato:</h2>
                                <!--break-->
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td height="10"></td>
                                    </tr>
                                </table>
                                <!--/break-->
                                <ul>
                                    <li style="font-family: Helvetica, Arial, sans-serif; font-size: 13px; margin-top: 0px; margin-bottom: 5px; padding: 0px; color: #e7eff6;">
                                        <b>Nome:</b> {{name}}
                                    </li>
                                    <li style="font-family: Helvetica, Arial, sans-serif; font-size: 13px; margin-top: 0px; margin-bottom: 5px; padding: 0px; color: #e7eff6;">
                                        <b>E-mail:</b> {{email}}
                                    </li>
                                    <li style="font-family: Helvetica, Arial, sans-serif; font-size: 13px; margin-top: 0px; margin-bottom: 5px; padding: 0px; color: #e7eff6;">
                                        <b>Telefone:</b> {{phone}}
                                    </li>
                                </ul>
                                <!--break-->
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td height="10"></td>
                                    </tr>
                                </table>
                                <!--/break-->
                                <h2 style="font-family: Helvetica, Arial, sans-serif; font-size: 18px; margin: 0px; padding: 0px; text-shadow: 1px 1px 1px #333333; color: #62b6ee">
                                    Mensagem:
                                </h2>
                                <!--break-->
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td height="10"></td>
                                    </tr>
                                </table>
                                <p style="font-family: Helvetica, Arial, sans-serif; font-size: 13px; margin-top: 0px; margin-bottom: 0px; padding: 0px; color: #e7eff6">
                                    {{message}}
                                </p>
                            </td>
                        </tr>
                    </table>
                    <!--/content section-->
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td height="30"></td>
                        </tr>
                    </table>
                    <!--footer-->
                    <table style="background-image: url(../../../static/email/img/footer-lines.jpg); background-position: top; background-repeat: repeat-x;" bgcolor="#1c293b" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <table width="578" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td valign="top" align="center" height="60">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td height="15"></td>
                                                </tr>
                                            </table>
                                            <p style="font-family: Helvetica, Arial, sans-serif; font-size: 13px; margin: 0px; padding: 0px; color: #4484b5; text-shadow: 1px 1px 1px #000;">
                                                Equipe I3L Soluções Criativas. {{date}}
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!--/footer-->
                </td>
            </tr>
        </table>
        <!--/100% body table-->
    </body>
</html>