<!--========== FOOTER ==========-->
<footer class="footer">
    <div class="section-seperator"></div>

    <!-- Copyright -->
    <div class="content container">
        <div class="row">
            <div class="col-xs-2">
                <div class="col-xs-3">
                    <a href="https://www.facebook.com/aquariomaniacos/"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="col-xs-3">
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
                <!--
                <div class="col-xs-3">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
                <div class="col-xs-3">
                    <a href="#"><i class="fa fa-youtube"></i></a>
                </div>
                -->
            </div>
            <div class="col-xs-8 text-center">
                <p class="margin-b-0">© 2017 <a class="fweight-700" href="http://i3l.com.br/">I3L Soluções Criativas</a>. Todos os direitos reservados.</p>
            </div>
        </div>
        <!--// end row -->
    </div>
    <!-- End Copyright -->
</footer>
<!--========== END FOOTER ==========-->